html {
    height:100%;
}
body {
    background-color:#000000;
    margin:0;
    text-align:center;
    width:100%;
    min-width:600px;
    height:100%;
}
#page {
    background-color:#ffffff;
    color:#000000;
    width:80%;
    min-height:100%;
    margin:0 auto;
    padding:0 0.5%;
    overflow:hidden;
}
#hb_entry {
    border:2px solid black;
    background-color:#eeeeee;
    left:50%;
    top:50%;
    width:50%;
    min-width:480px;
    height:480px;
    margin-left:-25%;
    margin-top:-240px;
    position:fixed;
    z-index:1;
}
#screenshot {
    width:136px;
}
#btm_x, #btm_c {
    width:28px;
    height:28px;
    float:right;
    display:inline;
}
#btm_x {
    background:url(3ds/homebrew/btm_x.png);
}
#btm_c {
    background:url(3ds/homebrew/btm_c.png);
}
a, a:visited {
    color:green;
}
a:hover {
    cursor:pointer;
    text-decoration:underline;
}
h1, h2, h3 {
    font-family:arial;
    text-align:left;
}
p, li {
    font-family:calibri;
    text-align:left;
}
ul {
    list-style-type:none;
    margin-left:-42px;
    text-align:left;
}
ul a, ul a:visited {
    color:inherit;
}
li {
    background-color:#fdfdfd;
    border:1px solid black;
    border-radius:8px;
    padding:8px 0;
    margin:2px;
    display:inline-block;
    width:49.3%;
    min-width:448px;
    vertical-align:top;
    height:86px;
    position:relative;
}
.icon {
    padding:19px 23px 16px 24px;
    float:left;
}
.i {
    border-radius:4px;
}
.title, .desc, .author {
    padding-right:16px;
}
.title:hover {
    text-decoration:underline;
}
.author { /*Temporary hack*/
    position:absolute;
    top:71px;
}
.tags, .release, .cat {
    display:none;
}
.search {
    width:300px;
}
.sort {
    padding:2px 12px;
    border-radius: 8px;
    border:none;
    display:inline-block;
    color:#fff;
    background-color:green;
    text-decoration: none;
    height:24px;
}
.sort:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    content:"";
    position: relative;
    top:-10px;
    right:-5px;
}
.sort.asc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    content:"";
    position: relative;
    top:13px;
    right:-5px;
}
.sort.desc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    content:"";
    position: relative;
    top:-10px;
    right:-5px;
}
@media (max-width: 1150px) {
    li {width:90%; max-width:680px;}
    ul {text-align:center;}
}
@media (max-width: 980px) {
    #hb_entry {margin-left:-240px;}
}
/*
table {
    border:1px solid #000000;
    width:100%;
    font-family:calibri;
    table-layout:fixed;
}
td {
    padding: 0.5%;
    overflow:hidden;
    border:1px solid black;
    border-collapse:collapse;
}
thead {background-color:green; color:white; cursor:pointer;}
tbody {background-color:white;}
tbody td:nth-of-type(1) {text-align:left;}
td:nth-of-type(1) {width:180px;}
td:nth-of-type(2) {width:310px;}
td:nth-of-type(3) {width:110px;}
td:nth-of-type(4) {width:95px;}
td:nth-of-type(5) {width:85px;}
td:nth-of-type(6) {width:190px;}
.icon_small {
    float:left;
    width:24px;
    padding-right:4px;
}
*/