html {
    height:100%;
}
body {
    background-color:#000000;
    margin:0;
    background-size:100%;
    text-align:center;
    width:100%;
    min-width:600px;
    height:100%;
}
#page {
    background-color:#ffffff;
    color:#000000;
    width:80%;
    height:auto;
    min-height:100%;
    margin:0 auto;
    padding:0 0.5%;
    overflow:hidden;
}
a, a:visited {
    color:green;
}
a:hover {
    cursor:pointer;
    text-decoration:underline;
}
h1, h2, h3 {
    font-family:arial;
    text-align:left;
}
p, li {
    font-family:calibri;
    text-align:left;
}
/*
table {
    border:1px solid #000000;
    width:100%;
    font-family:calibri;
    table-layout:fixed;
}
td {
    padding: 0.5%;
    overflow:hidden;
    border:1px solid #000000;
    border-collapse:collapse;
}
thead {background-color:green; color:white; cursor:pointer;}
tbody {background-color:white;}
tbody td:nth-of-type(1) {text-align:left;}
td:nth-of-type(1) {width:180px;}
td:nth-of-type(2) {width:310px;}
td:nth-of-type(3) {width:110px;}
td:nth-of-type(4) {width:95px;}
td:nth-of-type(5) {width:85px;}
td:nth-of-type(6) {width:190px;}
*/
#hb_entry {
    border:2px solid black;
    background-color:white;
    width:75%;
    height:90%;
    position:fixed;
}
.icon_small {
    float:left;
    width:24px;
    padding-right:4px;
}
ul {
    list-style-type:none;
    margin-left:-42px;
}
ul a, ul a:visited {
    color:inherit;
    text-decoration:none;
}
ul a:hover {
    text-decoration:underline;
}
li {
    border:1px solid black;
    padding:8px 0;
    margin:2px;
    display: inline-block;
    width:49%;
    min-width:448px;
    vertical-align: top;
    height:86px;
}
.icon {
    padding-left:20px;
    padding-top:20px;
    float:left;
}
.title, .desc, .author, .tab {
    padding-left:20px;
    padding-right:16px;
    box-decoration-break:clone;
}
.tags, .release {
    display:none;
}
.search {
    width:280px;
}
.sort {
    padding:2px 12px;
    border-radius: 8px;
    border:none;
    display:inline-block;
    color:#fff;
    background-color:green;
    text-decoration: none;
    height:24px;
}
.sort:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    content:"";
    position: relative;
    top:-10px;
    right:-5px;
}
.sort.asc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    content:"";
    position: relative;
    top:13px;
    right:-5px;
}
.sort.desc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    content:"";
    position: relative;
    top:-10px;
    right:-5px;
}
@media (max-width: 1150px) {
    li {width:90%; max-width:680px;}
}