html, body {
  width:100%;
  height:100%;
  margin:0;
}
body {
  background-color:#000000;
  text-align:center;
  min-width:600px;
  font-size:12.5pt;
}
h1, h2, h3 {
  font-family:arial;
  text-align:left;
  margin:0;
}
p, li {
  font-family:calibri;
  text-align:left;
}
a, a:visited {
  color:green;
}
a:hover {
  cursor:pointer;
  text-decoration:underline;
}
ul:not(.normal) {
  list-style-type:none;
  padding:0;
  text-align:center;
}
ul a, ul a:visited {
  color:inherit;
}
.container {
  background-color:#ffffff;
  color:#000000;
  width:85%;
  min-height:100%;
  margin:0 auto;
  padding:8px 0.5%;
  overflow:hidden;
  position:relative;
}
.details {
  display:none;
  border:2px solid black;
  background-color:#eeeeee;
  left:50%;
  top:50%;
  width:40%;
  min-width:520px;
  height:480px;
  margin-left:-20%;
  margin-top:-240px;
  position:fixed;
  z-index:1;
}
.details #title {
  line-height:48px;
  display:inline-block;
  text-align:center;
  text-shadow:1px 1px 0 #aaa;
  vertical-align:middle;
}
.details #desc {
  padding-left:20px;
  padding-right:20px;
  height:88px;
  margin:0;
}
.details #btm_x {
  background:url(homebrew/btm_x.png);
  width:28px;
  height:28px;
  float:right;
  display:inline;
}
.details .icon {
  display:block;
  text-align:center;
  padding-top:32px;
}
.details .screenshot {
  float:right;
  padding-right:20px;
}
.details .info {
  padding-left:20px;
  height:160px;
}
.details .contrib {
  padding-left:20px;
  height:280px;
  text-align:center;
  background-color:white;
  overflow-y:scroll;
  font-size:11pt;
}
.screenshot img {
  width:120px;
}
.show {
  color:blue;
  text-decoration:underline;
  display:none;
}
.more:after {
  content:"Read more.";
}
.less:after {
  content:"Read less.";
}
.compat {
  text-align:center;
  margin:0 auto;
  font-size:10pt;
}
table.compat {
  height:60px;
  border:1px solid black;
}
table.compat td {
  width:30px;
  border:1px solid black;
}
ul.pagination li {
  display:inline-block;
  width:20px;
  text-align:center;
  margin:4px;
  padding:4px 4px;
  border:1px solid black;
  border-radius:8px;
  cursor:pointer;
}
ul.pagination li a {
  text-decoration:none;
}
ul.pagination li.active {
  border:1px solid green;
  background-color:green;
  color:white;
}
ul.list li {
  background-color:#fdfdfd;
  border:1px solid black;
  border-radius:8px;
  padding:8px 0;
  margin:0.1%;
  display:inline-block;
  width:48%;
  min-width:448px;
  max-width:640px;
  vertical-align:top;
  height:84px;
  line-height:21px;
  position:relative;
}
.list .vdata {
  padding-left:96px;
  padding-right:16px;
  display:block;
}
.list .hdata {
  display:none;
}
.title:hover, .user:hover {
  text-decoration:underline;
}
.desc {
  height:42px;
}
.flag {
  vertical-align:text-top;
}
.icon img {
  border-radius:4px;
}
#hb_list .icon {
  padding:18px 24px;
  float:left;
}
#dev_list .icon {
  padding:9px 20px;
  float:left;
}
#dev_list li {
  height:106px;
}
.search {
  width:360px;
}
.sort {
  padding:2px 12px;
  border-radius: 8px;
  border:none;
  display:inline-block;
  color:#ffffff;
  background-color:green;
  text-decoration: none;
  height:24px;
}
.sort:after {
  width:0;
  height:0;
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  border-bottom:5px solid transparent;
  content:"";
  position:relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width:0;
  height:0;
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  border-top:5px solid #ffffff;
  content:"";
  position:relative;
  top:13px;
  right:-5px;
}
.sort.desc:after {
  width:0;
  height:0;
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  border-bottom:5px solid #ffffff;
  content:"";
  position:relative;
  top:-10px;
  right:-5px;
}
@media (max-width: 1080px) {
  ul.list li {
    width:90%;
    margin:2px;
  }
  .none {
    display:none;
  }
  .details {
    margin-left:-260px;
  }
  .container {
    width:99%;
    margin:0;
  }
}